aeppl==0.0.38
aesara==2.8.7
arviz==0.14.0
bambi==0.9.3
cachetools==5.3.0
cftime==1.6.2
cloudpickle==2.2.1
cons==0.4.5
contourpy==1.0.7
cycler==0.11.0
etuples==0.3.8
fastprogress==1.0.3
filelock==3.9.0
fonttools==4.38.0
formulae==0.3.4
kiwisolver==1.4.4
logical-unification==0.4.5
matplotlib==3.6.3
miniKanren==1.0.3
multipledispatch==0.6.0
netCDF4==1.6.2
numpy==1.24.1
packaging==23.0
pandas==1.5.3
Pillow==9.4.0
pymc==5.0.2
pyparsing==3.0.9
pytensor==2.9.1
python-dateutil==2.8.2
pytz==2022.7.1
scipy==1.10.0
six==1.16.0
toolz==0.12.0
typing_extensions==4.4.0
xarray==2023.1.0
xarray-einstats==0.5.1
